body{
  display:block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.App {
  position:relative;
  height: 600px;
  left:0px;
  text-align: center;
  min-height: 100vh;
  
  
  
}
.App h1{
  color:rgb(11, 11, 133);
    font-weight: 800;
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 0 auto;
    font-family:cursive;
    
}

.App h1 span {
    color: white;
}


.heder {
  height:145px;
  width:100%;
  background-color:orange;
  background-size: 50px;
  background-repeat: no-repeat;
  border-bottom:1px solid black;
  padding-top:3px;
  font-size:100px;
  color:teal;
  margin-bottom: 50px;
  
}
.btn{
  position: relative;
  top:0 auto;
  right:60px;
  
}
button{
  color: black;
  height: 45px;
  width:10%;
  background-image: linear-gradient(black,orange);
  border-radius:5px;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  margin-right: 5px;
  margin-top: 0 auto;
  
  
}
.table{
  color: white;
  
  float: left;
  margin-left: 200px;
  
  
}
.table tr{
  font-size: 1rem;
}
.table tr:nth-child(1){
  font-size: 1.7rem;
}
.table tr:hover{
  color: greenyellow;
}

table  .pics:hover{
  background-color: orange;
  
}
img {
  clip-path: circle();
  width: 80%;
  
}




.App .details {
  color: white;
  
}


.App-header {
  
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}




